
@{
    ViewData["Title"] = "Create";
}

<div class="new-task">
    <form asp-antiforgery="true" asp-action="CreateNewTask" asp-controller="Home" id="newTaskForm">
        <input type="text" placeholder="Write your task title..." name="Title" />
        <textarea placeholder="Write your text..." name="Text"></textarea>
        <input type="text" name="ReleaseDate" value="@DateTime.Now" style="display:none" />

        <input type="submit" class="add-task" value="Add new task" />
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

@section Scripts {
    <script type="text/javascript">
        $("#newTaskForm").validate({
            rules: {
                Title: {
                    required: true
                },
                Text: {
                    required: true
                }
            },
            messages: {
                Title: "Required Field",
                Text: "Required Field"
            }
        });
    </script>
}