
@{
    ViewData["Title"] = "Create";
}

<div class="new-task">
    <form asp-antiforgery="true" asp-action="CreateNew" asp-controller="Home" id="newTaskForm">
        <input type="text" placeholder="Write your task title..." name="Title" />
        <textarea placeholder="Write your text..." name="Text"></textarea>
        <input type="text" name="ReleaseDate" value="@DateTime.Now" style="display:none" />

        <input type="submit" class="add-task" value="Add new task" />
    </form>
</div>

